{# <h5>Affichage par annonce:</h5>
    {{ render(controller(
        'App\\Controller\\AnnoncesController::menu', {max: 3}
    )) }}  #}
   {#  va dans le controller annonce et execute moi la methode menu #}