{% extends 'base.html.twig' %}

{% block title %}Ajout catégogie!{% endblock %}

{% block body %}
<div class="container">
    {{  form_start(form) }}
        {{ form_row(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
