{# Nos avantages #}
<div class="w-full">
    <div class="container mb-5 ">
        <h3>Les bonnes raisons de faire appel à nous</h3>
        <div class="d-flex gap-3 ">
            <div class="card col-12 col-md-6 col-lg-4" style="max-width: 300px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img
                        src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                        alt="Trendy Pants and Shoes"
                        class="img-fluid rounded-start"
                    />
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Payement en 4X</h5>
                        <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4" style="max-width: 300px;">
                <div class="row g-0">
                    <div class="col-md-4">
                  
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Livraison express</h5>
                        <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4" style="max-width: 300px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img
                        src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                        alt="Trendy Pants and Shoes"
                        class="img-fluid rounded-start"
                    />
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Vision engagée</h5>
                        <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4" style="max-width: 300px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img
                        src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                        alt="Trendy Pants and Shoes"
                        class="img-fluid rounded-start"
                    />
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Retour simplifié</h5>
                        <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>